* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Footer {
    display: flex;
    background: #715b4b;
    width: 100%;
    height: 380px;
  }
  .Navigechion {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 15%;
  }
  .Navigechion p{
  padding-right: 280px;
  }
  .UlFooter {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 52px;
  
  }
  .LiFooter {
    display: flex;
    justify-items: flex-start;
    list-style-type: none;
    padding-top: 10px;
  }
  .NavFooter {
    display: flex;
    flex-direction: row;
  }
  .IconsFooter {
    width: 30%;  
    padding-left: 5%;
  }
  .IconsFooter img {
    mix-blend-mode: multiply;
  color: #ffffff;
    padding-right: 30px;
    width: 112px;
    height: 52px;
  }